{% extends 'layouts/base.html' %}

{% block title %}
Books | About us
{% endblock%}


{% block content %}
<div class="container text-dark mt-5">
    <h1>About Us</h1>
    <p class="fs-5"> Welcome to Bookworm Haven, your ultimate destination for all things book-related!.</p>

    <p class="fs-5"> At Bookworm Haven, we're passionate about books and fostering a love for reading. We believe that books have the
        power to inspire, educate, and entertain people of all ages. That's why we've curated a diverse collection of
        books spanning various genres, from classic literature to contemporary fiction, non-fiction, young adult, and
        children's books.
    </p>

    <p class="fs-5"> Our bookstore is more than just a place to buy books. It's a community hub where book lovers can come together
        to discover new reads, share recommendations, and engage in lively discussions. Whether you're a voracious
        reader looking for your next literary adventure or a parent searching for the perfect bedtime story for your
        little one, we've got you covered.
    </p>
</div>
{% endblock %}