{% extends 'layouts/base.html' %}

{% load static %}

{% block title %} Books Home From DB {% endblock %}

{% block content %}

<div class="mx-auto col-6">
    <h1 class="my-4 ">Add New Book</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="book_title">Title</label>
            <input class="form-control" id="book_title" name="title" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="book_author">Author</label>
            <input class="form-control" id="book_author" name="author" type="text">
        </div>
        <div class="mb-3">
            <label class="form-label" for="book_pages">Pages</label>
            <input class="form-control" id="book_pages" name="pages" type="number">
        </div>
        <div class="mb-3">
            <label class="form-label" for="book_price">Price</label>
            <input class="form-control" id="book_price" name="price" type="number">
        </div>
        <div class="mb-3">
            <label class="form-label" for="book_image">Image</label>
            <input class="form-control" id="book_image" name="image" type="file">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>


{% endblock %}